body{
    min-width: 647px;
    /*min-width: 471px;*/
}
.manageSection ul,li,table,div,span,h1,h2,h3,input,pre{
    margin: 0px;
    padding: 0px;
}
.box-content.upload .upBtns{
    background-color: transparent;
    border-top: none;
}

#testid .nav-tabs{
    border-bottom: 1px solid #ddd;
}
#testid li a:focus{
    outline: none;
    border-color: transparent; 
    background-color:  transparent;
    background: rgba(8,8,8,0.6);
}

.manageSection pre{
    border: none;
}
.manageSection img{
    max-width: none;
}
.manageSection .logo_box input{
    height: 37px;
    color: #000;
}
.manageSection .logo_box .act-but{
    background-color: #333;
    opacity: 0.9;
}
.manageSection .logo_box .act-but:focus{
    outline: none;
    opacity: 1;
}
.manageSection .logo_box .register{
    width: 250px;
    margin: 0 auto;
}
.box-content.prolist input{
    border: none;
    box-shadow: none;
    height: 32px;
    margin-bottom: 0px;
}
.box-content.prolist .tc{
    text-align: center;
}
.box-content.prolist th,.box-content.prolist td{
    border: 1px solid #eee;
    text-align: center;
    vertical-align: middle;
}
.managePage .dropdown-menu li > a:hover,.managePage .dropdown-menu li > a:focus,.managePage .dropdown-submenu:hover > a{
    background: rgba(8,8,8,0.6); 

}
.managePage .dropdown-menu > li:hover,.managePage .dropdown-menu > li:focus{
    background: transparent;
}

.nav-tabs.nav-stacked  > li.active > a, .nav-tabs.nav-stacked  > li > ul > li.active > a{
    background: rgba(8,8,8,0.6); 
    border-bottom: none;
    color: #fed136;
}

.nav-tabs.nav-stacked  > li:hover > a, .nav-tabs.nav-stacked  > li > ul > li:hover > a{
    background: rgba(8,8,8,0.6); 
    border-bottom: none;
    color: #fed136;
}
.nav-tabs.nav-stacked  > li.active > a:hover, .nav-tabs.nav-stacked  > li > ul > li.active > a:hover{
    background: rgba(8,8,8,0.6); 
    border-bottom: none;
    color: #fed136;
}

.realtive{
    position: relative;
}

.addLi{
    position: absolute;
    right: 58px;
    top: 8px;
}
.mml{
    right: 330px;
}
.ml{
    right: 130px;
}
.mc{
    margin: 0 auto;
}
.addLi:hover{
    cursor: pointer;
}


.logo_box .form-actions{
    background: transparent;
    border-top: none;
    text-align: center;
}

/* sort */
.newSort{
    display: none;
    /*display: inline-block;*/
}

/* view aboutus */
.section-title h2{
    font-weight: 300;
}
.aboutLeft pre{
    background-color: transparent;
}
#aboutMe .container{
    width: 90%;
}


/* 表单样式 */
.control-group label span.required{
    color: #f46861;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

/*左边菜单*/
#sidebar-left {
    /*min-width: 106px;*/
    /*position: relative;*/
}
.managePage .content{
    width: auto !important;
    margin-left: 0px !important;
}
.managePage .hidden-tablet{
    display: inline-block !important;
}
.main-menu li {
    text-align: center;
}

/*小屏幕菜单*/
.navbar .btn-navbar: hover{
    background-color: transparent !important; 
    background-image: none !important;
}
@media only screen and (max-width: 767px) {
    .sidebar-nav > ul{
        min-height: 230px;
    }
}
/*@media only screen and (min-width: 559px) {
    .opr3{
        min-width: 142px;
    }
}*/
@media only screen and (max-width: 785px) {
    .opr5{
        max-width: 70px;
    }
}
@media only screen and (max-width: 587px) {
    .opr6{
        max-width: 50px !important;
    }
}

.managePage .uname{
    display: inline-block;
    max-width: 80px;
}

/*分页*/
.widthAll{
    width: 100%;
}
/*无数据表格*/
.newTab{
    display: none;
}
.noticeHref{
    color: #fed136;
}

.inline{
    display: inline-block;
}

.pageDesc{
    position: relative;
    top: -11px;
}

#setPageSize{
    width: 90px;
}