head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  //- link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  //- 小轮播样式
  //- link(rel="stylesheet", href="/stylesheets/owl.carousel.css")   
  //- link(rel="stylesheet", href="/stylesheets/owl.theme.default.min.css")
  //-弹窗
  //- link(rel="stylesheet", href="/stylesheets/xcConfirm.css")
  link(rel="stylesheet", href="/stylesheets/jquery-confirm.css")
  //- page页
  link(rel="stylesheet", href="/stylesheets/owl.style.css")
  //- 轮播
  //- link(rel="stylesheet", type="text/css", href="/stylesheets/normalize.css")
  |   
  link(rel="stylesheet", type="text/css", href="/stylesheets/default.css")
  |   
  link(rel="stylesheet", type="text/css", href="/stylesheets/pgwslideshow.css")
    
  link(rel="stylesheet", type="text/css", href="/stylesheets/lrtk.css")

  //- 必要样式
  link(rel="stylesheet", type="text/css", href="/stylesheets/component.css")

  link(rel='stylesheet', href='/third-party/bootstrap-table-expandable.css')
  link(rel='stylesheet', href='/stylesheets/styles.css')
  //- 后台管理模板
  //- link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css")
  //- link(rel="stylesheet", href="/stylesheets/style.css")
  //- link(rel="stylesheet", href="/stylesheets/style-responsive.css")
  
  //- 后台表格
  link(rel="stylesheet", href="/stylesheets/glyphicons.css")
  link(rel="stylesheet", href="/stylesheets/halflings.css")
  link(rel="stylesheet", href="/stylesheets/style-tab.css")
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext")

  //- 商品管理
  //- link(rel="stylesheet", href="/stylesheets/jquery.cleditor.css")
  link(rel="stylesheet", href="/stylesheets/uploadify.css")
  link(rel="stylesheet", href="/stylesheets/style-forms.css")

  //- 分页
  link(rel='stylesheet', href='/stylesheets/page.css')

         