script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
//-弹窗
//- script(type='text/javascript', src="/javascripts/xcConfirm.js")
script(type='text/javascript', src='/javascripts/jquery-confirm.js')


script(type='text/javascript',src="/javascripts/TweenLite.min.js")
|       
script(type='text/javascript',src="/javascripts/EasePack.min.js")
|       
script(type='text/javascript',src="/javascripts/rAF.js")
    
script(type='text/javascript',src="/conm/yuAlert.js")
script(type='text/javascript',src="/javascripts/jquery.cookie.js")
script(type='text/javascript',src="/javascripts/base64.js")

//- script(type='text/javascript',src="/javascripts/demo-1.js") 

