head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title login
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/normalize.css")

    link(rel="stylesheet", type="text/css", href="/stylesheets/demo.css")

    //- 必要样式
    link(rel="stylesheet", type="text/css", href="/stylesheets/component.css")

    //-弹窗
    //- link(rel="stylesheet", href="/stylesheets/xcConfirm.css")
    link(rel="stylesheet", href="/stylesheets/jquery-confirm.css")

    //- page页
    //- link(rel="stylesheet", href="/stylesheets/owl.style.css")
         