script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
//- script(type='text/javascript', src='/javascripts/lazyload.js')
//-弹窗
//- script(type='text/javascript', src="/javascripts/xcConfirm.js")
script(type='text/javascript', src='/javascripts/jquery-confirm.js')
script(type='text/javascript', src='/conm/yuAlert.js')
    
script(type='text/javascript', src='/javascripts/jquery-session.js')
script(type='text/javascript', src='/javascripts/jquery.cookie.js')

script(type='text/javascript', src='/javascripts/jquery.lazyload.js')
//- script(type='text/javascript', src='http://code.jquery.com/jquery-migrate-1.1.1.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/third-party/bootstrap-table-expandable.js')
//- script(type='text/javascript', src='/conm/comm.js')
//- script(type='text/javascript', src='/conm/date/WdatePicker.js')
//- script(type='text/javascript', src='/conm/resourcecontrol.js')
//- 导航
script(type='text/javascript', src='/javascripts/cbpAnimatedHeader.js')
script(type='text/javascript', src='/javascripts/owl.carousel.min.js')
script(type='text/javascript', src='/javascripts/theme-scripts.js')
//- script(type='text/javascript', src='/javascripts/npm.js')

script(type='text/javascript', src='http://api.map.baidu.com/api?v=2.0&ak=dOB5qvSfCfKnKaHGjQMgbXODENzZ1E3f')
script(type='text/javascript', src='/javascripts/ie-emulation-modes-warning.js')
script(type='text/javascript', src='/javascripts/ie10-viewport-bug-workaround.js')

//- 后台管理

//- script(type='text/javascript', src='/javascripts/fullcalendar.min.js')
script(type='text/javascript', src='/javascripts/jquery.imagesloaded.js')
//- script(type='text/javascript', src='/javascripts/jquery.uploadify-3.1.min.js')
//- script(type='text/javascript', src='/javascripts/jquery.cleditor.min.js')
//- script(type='text/javascript', src='/javascripts/jquery.custom.js')
//- validate
script(type='text/javascript', src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js")
script(type='text/javascript', src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js")

//- 大图
script(type='text/javascript', src="/javascripts/jquery.imgbox.pack.js")
//- 轮播
script(type='text/javascript', src="/javascripts/pgwslideshow.min.js")
script(type='text/javascript', src="/javascripts/pgwslideshow.js")

//- 前端分页
script(type='text/javascript',src="/javascripts/pagination.js")
