doctype html
html.no-js(lang="en")
	include inc/loginHeader
	include inc/loginScripts
	body
		//- 填内容
		block content
			//- include inc/footer

		script(src='/javascripts/demo-1.js')
		block scripts
