doctype html
html
  include inc/header
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.css")
    link(rel="stylesheet", href="/stylesheets/style-responsive.css")
    link(rel="stylesheet", href="/stylesheets/newManage.css")
  include inc/scripts
  body
    .navbar.managePage
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target="#testid")
            span.icon-bar
            |           
            span.icon-bar
            |           
            span.icon-bar
          a.brand(href="index.html")
            span Shengyi
          // start: Header Menu
          .nav-no-collapse.header-nav
            ul.nav.pull-right
              // start: User Dropdown
              li.dropdown
                a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
                  i.halflings-icon.white.user
                  span.uname.overHid  
                  |                                 
                  span.caret
                |  
                ul.dropdown-menu.manageMenu
                  li
                    a(onclick='setSessionNull()')
                      i.halflings-icon.off
                      |  Logout              
                //- ul.dropdown-menu
                  li.dropdown-menu-title
                    span Account Settings
                  |                                 
                  li
                    a(href="#")
                      i.halflings-icon.user
                      |  Profile
                  |                                 
                  li
                    a(href="login.html")
                      i.halflings-icon.off
                      |  Logout
              // end: User Dropdown
          // end: Header Menu
    // start: Header
    .container-fluid-full
      .row-fluid
        // start: Main Menu
        #sidebar-left.span2
          #testid.sidebar-nav.collapse.navbar-collapse
            ul.nav.nav-tabs.nav-stacked.main-menu
              li
                a.toPorlist(href="/manage/proList/pageSize/prolistPageNum")
                  //- i.icon-bar-chart
                  span.hidden-tablet  商品列表
              |     
              //- li
                a(href="/manage/uploadImg")
                  i.icon-dashboard
                  span.hidden-tablet  添加商品
              |                         
              li
                a.toUserlist(href="/manage/getUser/pageSize/userPageNum")
                  //- i.icon-envelope
                  span.hidden-tablet  用户列表
              |                         
              li
                a.toSortslist(href="/manage/editSorts/pageSize/sortsPageNum")
                  //- i.icon-tasks
                  span.hidden-tablet  分类列表
              |                         
              li
                a.toCompList(href="/manage/aboutUs/pageSize/compPageNum")
                  //- i.icon-eye-open
                  span.hidden-tablet  公司介绍
              |                         
              |                         
              //- li
              //-   a.dropmenu(href="#")
              //-     i.icon-folder-close-alt
              //-     span.hidden-tablet  Dropdown
              //-     span.label.label-important  3 
              //-   |                           
              //-   ul
              //-     li
              //-       a.submenu(href="submenu.html")
              //-         i.icon-file-alt
              //-         span.hidden-tablet  Sub Menu 1
              //-     |                                 
              //-     li
              //-       a.submenu(href="submenu2.html")
              //-         i.icon-file-alt
              //-         span.hidden-tablet  Sub Menu 2
              //-     |                                 
              //-     li
              //-       a.submenu(href="submenu3.html")
              //-         i.icon-file-alt
              //-         span.hidden-tablet  Sub Menu 3
              //- |                         
              //- li
              //-   a(href="form.html")
              //-     i.icon-edit
              //-     span.hidden-tablet  Forms
              //- |                         
              //- li
              //-   a(href="chart.html")
              //-     i.icon-list-alt
              //-     span.hidden-tablet  Charts
              //- |                         
              //- li
              //-   a(href="typography.html")
              //-     i.icon-font
              //-     span.hidden-tablet  Typography
              //- |                         
              //- li
              //-   a(href="gallery.html")
              //-     i.icon-picture
              //-     span.hidden-tablet  Gallery
              //- |                         
              //- li
              //-   a(href="table.html")
              //-     i.icon-align-justify
              //-     span.hidden-tablet  Tables
              //- |                         
              //- li
              //-   a(href="calendar.html")
              //-     i.icon-calendar
              //-     span.hidden-tablet  Calendar
              //- |                         
              //- li
              //-   a(href="file-manager.html")
              //-     i.icon-folder-open
              //-     span.hidden-tablet  File Manager
              //- |                         
              //- li
              //-   a(href="icon.html")
              //-     i.icon-star
              //-     span.hidden-tablet  Icons
              //- |                         
              //- li
              //-   a(href="login.html")
              //-     i.icon-lock
              //-     span.hidden-tablet  Login Page
        // end: Main Menu
              
        block content
    include inc/footer
    script.
      setUrl($('.toPorlist'),'href',0,-1)
      setUrl($('.toUserlist'),'href',1,-1)
      setUrl($('.toSortslist'),'href',2,-1)
      setUrl($('.toCompList'),'href',3,-1)
    script(type='text/javascript', src='/javascripts/custom.js')
    script(src='/conm/proList.js')
    block scripts
